$red:          #CB2E29;
$blue-light:   #8086A9;
$blue:         #44558F;

$white:        #FFFFFF;
$white-dark:   #EDEAE8;
$black-light:  #20171D;
$black:        #170E14;

$gray-lighter: #F4F0ED;
$gray-light:   #E2DEDA;
$gray:         #D2CECB;
$gray-dark:    #BEBBB8;
$gray-darker:  #979592;



$primary-color: $red;
$secondary-color: $blue;



$body-bg: $white-dark;
$body-font-color: $black-light;
$header-font-color: $black;
