---
i18n_scope: work
---

h2 Classement des entreprises françaises travaillant avec ruby et Ruby on Rails

.m-section.text-center
  = link_to "https://twitter.com/intent/tweet?text=#{host_url(current_page.url)} French companies working with &hashtags=ruby,RoR,dev", class: 'button secondary', target: '_blank' do
    'Tweeter le lien

#js-shop-list
